<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>ACL '17</title>
	<!-- Favicon-->
	<link rel="icon" href="favicon.ico" type="image/x-icon"><title></title>
	<link href="css/initialbids.css" rel="stylesheet">
	<!-- Bootstrap Core Css -->
	<link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
	<img src="images/ACLlogo.png" class="img-fluid" alt="Cinque Terre" width=10vh height=auto hspace="20" > 

  <h1>Welcome to ACL 2017 !</h1>
  <h3><%= teamOwner %> </h3>
  <div style="clear: left;"/>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,100 100,0 100,100"/>
  </svg>
</header>

<section>
	<img src="<%= teamLogo %>" class="img-fluid" alt="Cinque Terre" width=23% height=auto  align="right" > 
	<div class="input-box"><br><br>
	<h2 style="padding-left: 10%;"><b>Choose your initial bidding amount.</b></h2>
	<br>
	<select class="form-control show-tick" id="firstBid" required style="margin-left: 11%; width: 35.5%;border-color: #ff0000;border-width: 2px">
		<option value="">-- Please select --</option>
		<option value="50000">50000</option>
		<option value="51000">51000</option>
		<option value="52000">52000</option>
		<option value="53000">53000</option>
		<option value="54000">54000</option>
		<option value="55000">55000</option>
		<option value="56000">56000</option>
    </select>
	<br><br>
	<button name="btn" onclick="setRankAndRedirect(reDirect);" style="margin-left: 25%">Submit</button>
	</div>
</section>

<!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

<!-- JQuery redirect plugin-->
    <script src="plugins/jquery-redirect/jquery.redirect.js"></script>

<!-- Custom Js -->
    <script src="js/admin.js"></script>
    <script src="js/pages/examples/sign-in.js"></script>
    <script src="js/pages/forms/basic-form-elements.js"></script>
    <script src="js/acl/render-ejs.js"></script>
	<script src="js/cookies.js"></script>
	<script src="plugins/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
    	function setRankAndRedirect(callback){
			setTimeout(function() {
				var firstBidVal = document.getElementById('firstBid').value;
				var teamID = parseInt(getCookie("teamToken"));
				if(firstBidVal == "") {
					swal('Oops...', 'Please select a valid amount!', 'error');
					return;
				}
				var socket = io();
				loginData = {"team_id": teamID, "initial_amount": firstBidVal};
				socket.emit('login', loginData);
				callback(teamID);	
			}, 100);	
		};
		function reDirect(teamID) {
			setTimeout(function() {
					renderEjs('teamprofile', teamID);
			}, 50);
		};
	</script>

</body>
</html>