<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>ACL '17</title>
	<!-- Favicon-->
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link href="css/initialbids.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap Core Css -->
	<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<script src="/socket.io/socket.io.js"></script>
</head>
<body>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header alert-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rules and Regulations</h4>
      </div>
      <div class="modal-body">
        <p>1. A total premium of 150000 is allocated to each team. Once maximum bidding amount of each round is reached, premium points can be used.</p><br>
        <p>2. Normal bidding will be in increments of 1000 whereas premium bidding will have an increment of 2000.</p><br>
        <p>3. Vice-captains in round 1 will incur 140000 for each team.</p><br>
        <p>4. Initial bidding amount will be allocated randomly <b>only for the second round</b>.</p><br>
        <p>5. <b>Round 3</b> onwards, the highest bidder of the previous round will be given the lowest initial bidding amount for the round.</p><br>
        <p>6. Please do not press the BACK or REFRESH buttons in the browser at any point of time during the auction.</p><br>
        <p>7. <b>Decision of Gamemaster is final and binding</b>.</p><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<header>
	<img src="images/ACLlogo.png" class="img-fluid" alt="Cinque Terre" width=10vh height=auto hspace="20" > 
	<br><br>
  <h1>Welcome to ACL 2017 !</h1>
  <div style="clear: left;"/>
  <svg xmlns="svg/2000/svg.html" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,100 100,0 100,100"/>
  </svg>
</header>

<section>
	<img src="<%= teamLogo %>" class="img-fluid" alt="Cinque Terre" width=23% height=auto  align="right" > 
	<div class="input-box"><br><br>
	<h2 style="padding-left: 10%;"><b>Choose your initial bidding amount.</b></h2>
	<br>
	<select class="form-control show-tick" id="firstBid" required style="margin-left: 11%; width: 35.5%;border-color: #ff0000;border-width: 2px">
		<option value="">-- Please select --</option>
		<option value="140000">140000</option>
    </select>
	<br><br>
	<button name="btn" onclick="setRankAndRedirect(reDirect);disabled=true;" style="margin-left: 25%" id="xyz">Submit</button>
	</div>
</section>

<div class="legal">
				<div class="copyright">
					&copy; 2017
					<a href="javascript:void(0);">Ace Cricket League</a>.
				</div>
				<div class="version">
					<b>Version: </b> 1.0.0
				</div>
				<div class="rules">
					<a  data-toggle="modal" href="#myModal" >Rules and Regulations</a>
				</div>
			</div>

<!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

<!-- JQuery redirect plugin-->
    <script src="plugins/jquery-redirect/jquery.redirect.js"></script>

<!-- Custom Js -->
    <script src="js/admin.js"></script>
    <script src="js/pages/examples/sign-in.js"></script>
    <script src="js/pages/forms/basic-form-elements.js"></script>
    <script src="js/acl/render-ejs.js"></script>	
    <script src="js/cookies.js"></script>
    <script src="plugins/sweetalert/dist/sweetalert.min.js"></script>

   <script type="text/javascript">
    	function setRankAndRedirect(callback){
			var firstBidVal = document.getElementById('firstBid').value;
			var teamID = parseInt(getCookie("teamToken"));
			var btn = document.getElementById('xyz');
			btn.style.backgroundColor = "#800000";
			if(firstBidVal == "") {
				swal('Oops...', 'Please select a valid amount!', 'error');
				return;
			}
			var socket = io();	
			loginData = {"team_id": teamID, "initial_amount": firstBidVal};
			socket.emit('login', loginData);
			callback(teamID);	

		}
		function reDirect(teamID) {
			setTimeout(function() {
					renderEjs('teamprofile', teamID);
			}, 1000);
		};
	</script>
	<script type="text/javascript">
		$(window).on('load', function(){
			$("#myModal").modal('show');
		});
	</script>
</body>	
</html>
