<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>ACL '17</title>
	<!-- Favicon-->
	<link rel="icon" href="favicon.ico" type="image/x-icon"><title></title>
	<link href="css/initialbids.css" rel="stylesheet">
	<!-- Bootstrap Core Css -->
	<link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
</head>
<body>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rules and Regulations</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<header>
	<img src="images/ACLlogo.png" class="img-fluid" alt="Cinque Terre" width=10vh height=auto hspace="20" > 
	
  <h1>Welcome to ACL 2017 !</h1>
  <h3><%= teamOwner %> </h3>
  <div style="clear: left;"/>
  <svg xmlns="svg/2000/svg.html" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,100 100,0 100,100"/>
  </svg>
</header>

<section>
	<img src="<%= teamLogo %>" class="img-fluid" alt="Cinque Terre" width=23% height=auto  align="right" > 
	<div class="input-box"><br><br>
	<h2 style="padding-left: 10%;"><b>Choose your initial bidding amount.</b></h2>
	<br>
	<select class="form-control show-tick" id="firstBid" required style="margin-left: 11%; width: 35.5%;border-color: #ff0000;border-width: 2px">
		<option value="">-- Please select --</option>
		<option value="120000">120000</option>
		<option value="121000">121000</option>
		<option value="122000">122000</option>
		<option value="123000">123000</option>
		<option value="124000">124000</option>
		<option value="125000">125000</option>
    </select>
	<br><br>
	<button name="btn" onclick="setRankAndRedirect(reDirect);" style="margin-left: 25%">Submit</button>
	</div>
</section>

<div class="legal">
				<div class="copyright">
					&copy; 2017
					<a href="javascript:void(0);">Ace Cricket League</a>.
				</div>
				<div class="version">
					<b>Version: </b> 1.0.0
				</div>
				<div class="rules">
					<a  data-toggle="modal" href="#myModal" >Rules and Regulations</a>
				</div>
			</div>

<!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

<!-- JQuery redirect plugin-->
    <script src="plugins/jquery-redirect/jquery.redirect.js"></script>

<!-- Custom Js -->
    <script src="js/admin.js"></script>
    <script src="js/pages/examples/sign-in.js"></script>
    <script src="js/pages/forms/basic-form-elements.js"></script>
    <script src="js/acl/render-ejs.js"></script>
	<script src="js/cookies.js"></script>
	<script src="plugins/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
    	function setRankAndRedirect(callback){
			var firstBidVal = document.getElementById('firstBid').value;
			var teamID = parseInt(getCookie("teamToken"));
			if(firstBidVal == "") {
				swal('Oops...', 'Please select a valid amount!', 'error');
				return;
			}
			var socket = io();	
			loginData = {"team_id": teamID, "initial_amount": firstBidVal};
			socket.emit('login', loginData);
			callback(teamID);	
		}
		function reDirect(teamID) {
			setTimeout(function() {
					renderEjs('teamprofile', teamID);
			}, 1000);
		};
	</script>
</body>	
</html>